[submodule "Function_ptr"]
	path = Function_ptr
	url = https://github.com/MahendraSondagar/Function_ptr.git
[submodule "miscellaneous"]
	path = miscellaneous
	url = https://github.com/MahendraSondagar/miscellaneous.git
[submodule "preprocessor"]
	path = preprocessor
	url = https://github.com/MahendraSondagar/preprocessor.git
[submodule "State_machine"]
	path = State_machine
	url = https://github.com/MahendraSondagar/State_machine
